  <div class="card mt-3">
    <div class="card-header">
      <h2 class="text-uppercase fs-5"><%= article.id%>-<%= article.title %></h2>
      <p class="small"><%= article.created_at%></p>
      <%= link_to "go to article", article%>
    </div>
    <div class="card-body"></div>
  </div>
