<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= @article.title %></h1> 
  <main>
    <%= @article.content %>
  </main>
<%= button_to "Destroy", @article, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to 'Eliminar', article_path(@article), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</body>
</html>
